.display h2, h3, p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.contact-display{
    display:flex;
    flex-direction:row;
    font-family: 'Times New Roman', Times, serif;
}
.contact-display div{
    margin-top: 20px;
    flex-direction: column;
}

.contact-display p{
    font-size: 12px;
    margin: 0 0 0 25px;
}
.contact-display h1{
    font-size: 45px;
    margin-top: 8px;
}

.institution {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 15px;
}

.edex-title{
    display: flex;
    flex-direction: row;
    width: 500px;
}
.edex-title p {
    justify-self: right;
    margin-left:auto;
}
.edex-title h3{
    margin-right: auto;
}